<mat-toolbar [class.mat-elevation-z1]="true">
    <ng-container *ngIf="isLogged">
        <button mat-icon-button (click)="onToggleSidenav();">
            <mat-icon>menu</mat-icon>
        </button>
    </ng-container>
    <span><a routerLink="/home">Sistema de Ventas</a></span>
    <span class="spacer"></span>
    <a *ngIf="!isLogged else viewLogOut" mat-button color="primary" routerLink="/login">Iniciar Sesión</a>
</mat-toolbar>

<ng-template #viewLogOut>
    <button mat-button [matMenuTriggerFor]="lista">
        {{ data.nombre + ' ' + data.apellidos }}
        <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #lista="matMenu">
        <button mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            Cerrar Sesión
        </button>
    </mat-menu>
</ng-template>