<mat-sidenav-container>
    <mat-sidenav #sidenav mode="push">
        <!-- ng g c shared/components/sidebar -m=app -->
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
        <router-outlet />
        <!-- <app-footer></app-footer> -->
    </mat-sidenav-content>
</mat-sidenav-container>

<ngx-spinner 
    bdColor="rgba(0, 0, 0, 0.8)" 
    size="medium" 
    color="#fff" 
    type="ball-scale-multiple">
    <p style="color: white" > Cargando </p>
</ngx-spinner>