<h1 mat-dialog-title>Usuario</h1>
<mat-dialog-content>
    <form [formGroup]="userForm" (submit)="onSave()">
        <!-- NOMBRE -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input type="text" formControlName="nombre" matInput>
            <mat-error>
                {{ baseForm.getErrorMessage(userForm.get('nombre')) }}
            </mat-error>
        </mat-form-field>

        <!-- APELLIDOS -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input type="text" formControlName="apellidos" matInput>
            <mat-error>
                {{ baseForm.getErrorMessage(userForm.get('apellidos')) }}
            </mat-error>
        </mat-form-field>

        <!-- username -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre de Usuario</mat-label>
            <input type="text" formControlName="username" matInput>
            <mat-error>
                {{ baseForm.getErrorMessage(userForm.get('username')) }}
            </mat-error>
        </mat-form-field>

        <!-- ROL -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Rol(es)</mat-label>
            <mat-select formControlName="cveRol">
                <mat-option *ngFor="let rol of roles" [value]="rol.cveRol">
                    {{ rol.descripcion + ' - ' + rol.clave }}
                </mat-option>
            </mat-select>
            <mat-error>
                {{ baseForm.getErrorMessage(userForm.get('cveRol')) }}
            </mat-error>
        </mat-form-field>

        <!-- password -->
        <mat-form-field *ngIf="actionTODO == 'new'" class="full-width" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input type="password" formControlName="password" matInput>
            <mat-error>
                {{ baseForm.getErrorMessage(userForm.get('password')) }}
            </mat-error>
        </mat-form-field>

        <!-- Confirm Password -->
        <mat-form-field *ngIf="actionTODO == 'new'" class="full-width" appearance="outline">
            <mat-label>Repetir Contraseña</mat-label>
            <input type="password" formControlName="confirmPassword" matInput>
            <mat-error>
                {{ baseForm.getErrorMessage(userForm.get('confirmPassword')) }}
            </mat-error>
        </mat-form-field>

        <div align="center">
            <button type="button" mat-flat-button color="warn" class="me-2">
                Limpiar
            </button>
            <button type="submit" mat-flat-button color="primary">
                {{ titleButton }}
            </button>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
        Cerrar
    </button>
</mat-dialog-actions>