<section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-interval="5000" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <!-- slide 1 -->
             <div class="carousel-item active" style="background-image: url('https://hips.hearstapps.com/hmg-prod/images/tienda-bulgari-kuala-lumpur-mvrdv-kintsugi-2-1600088794.jpg?crop=1.00xw:0.752xh;0,0.248xh&resize=1200:*');">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Bienvenido</h2>
                        <p class="animate__animated animate__fadeInUp">Occaecat ullamco esse est aliqua consectetur amet exercitation. Id eiusmod eiusmod nisi eiusmod irure aliqua laboris. Ullamco aliquip fugiat duis non amet aute qui exercitation amet culpa ipsum excepteur. Amet labore fugiat aliqua nisi. Anim Lorem ad esse occaecat ipsum id reprehenderit non.</p>
                        <button class="animate__animated animate__fadeInUp" mat-flat-button color="warn">Ver Más</button>
                    </div>
                </div>
             </div>

            <!-- slide 2 -->
            <div class="carousel-item" style="background-image: url('https://hips.hearstapps.com/hmg-prod/images/tienda-bulgari-kuala-lumpur-mvrdv-kintsugi-2-1600088794.jpg?crop=1.00xw:0.752xh;0,0.248xh&resize=1200:*');">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Compra en linea</h2>
                        <p class="animate__animated animate__fadeInUp">Veniam qui commodo anim sint amet cillum nisi tempor ullamco do amet esse. Occaecat eu veniam et exercitation adipisicing. Qui voluptate laborum exercitation irure exercitation veniam esse pariatur sint. Voluptate ut do et ipsum consequat minim officia aliquip nisi ad. Eu est mollit velit esse do dolor. Aute culpa et fugiat occaecat. Non elit et commodo est in dolor dolor ex.</p>
                    </div>
                </div>
             </div>

            <!-- slide 3 -->
            <div class="carousel-item" style="background-image: url('https://hips.hearstapps.com/hmg-prod/images/tienda-bulgari-kuala-lumpur-mvrdv-kintsugi-2-1600088794.jpg?crop=1.00xw:0.752xh;0,0.248xh&resize=1200:*');">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Administra tu tienda</h2>
                        <p class="animate__animated animate__fadeInUp">Veniam qui commodo anim sint amet cillum nisi tempor ullamco do amet esse. Occaecat eu veniam et exercitation adipisicing. Qui voluptate laborum exercitation irure exercitation veniam esse pariatur sint. Voluptate ut do et ipsum consequat minim officia aliquip nisi ad. Eu est mollit velit esse do dolor. Aute culpa et fugiat occaecat. Non elit et commodo est in dolor dolor ex.</p>
                    </div>
                </div>
             </div>

        </div>

        <a href="#heroCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chrevron-left"></span>
        </a>

        <a href="#heroCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chrevron-right"></span>
        </a>
    </div>
</section>

<div class="container mb-5">
    <div class="row">
        <div class="col-lg-6">
            <h3>Sint ullamco non magna quis ut sint ea ut ullamco culpa non ipsum.</h3>
            <p>
                Occaecat est et ipsum ipsum et aliquip cillum labore qui. Dolor aute duis ea et ex occaecat commodo veniam in nostrud ex. Culpa elit laboris id nulla consectetur mollit dolore nostrud irure nostrud velit ut quis adipisicing. Consequat proident cillum magna esse esse in proident cillum ullamco magna culpa cillum. Adipisicing sint do ullamco ut laborum est dolor fugiat ex pariatur eu fugiat minim nulla.
            </p>
        </div>
        <div class="col-lg-6">
            <h3>Esse culpa irure nulla est dolor ullamco tempor.</h3>
            <p>
                Nisi incididunt ex dolor enim exercitation veniam voluptate qui officia laborum. Fugiat incididunt enim laborum do anim proident occaecat exercitation incididunt. Mollit laboris cupidatat reprehenderit esse excepteur officia anim culpa. Irure occaecat ad eiusmod nostrud consectetur ad nulla laboris exercitation. Laboris voluptate amet irure reprehenderit.
            </p>
        </div>
    </div>
</div>