<div class="container">
    <div class="row align-items-center justify-content-center h-100">
        <div class="col-md-6">
            <mat-card>
                <mat-card-content>
                    <form [formGroup]="loginForm" (submit)="onLogin();">
                        <h3>Inicio de Sesión</h3>
                        <mat-form-field class="full-width">
                            <mat-label>Usuario</mat-label>
                            <input type="text" matInput formControlName="username">
                            <mat-error>
                                {{ baseForm.getErrorMessage(loginForm.get('username')) }}
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <mat-label>Contraseña</mat-label>
                            <input [type]="hide ? 'password' : 'text'" matInput formControlName="password">
                            <button type="button" mat-icon-button matSuffix (click)="hide  = !hide">
                                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                            </button>
                            <mat-error>
                                {{ baseForm.getErrorMessage(loginForm.get('password')) }}
                            </mat-error>
                        </mat-form-field>

                        <button type="submit" mat-flat-button color="primary" class="full-width" [disabled]="loginForm.invalid">Iniciar Sesión</button>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>